body {
	font-size: 16px;
	color: #fff;
	background-color: #999966;
	font-family: 'Oxygen', sans-serif;
}

/** CABEZERA **/
#header-nav {
	background-color: #cc6600;
	border-radius: 0;
	border: 0;
}
.navbar-brand {
	width: 100%;
	height: 80px;
	margin: 10px 15px 10px 0px;
	padding-top: 25px;

}
.navbar-brand h1 {
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: 0.75;
}